Project Message Boards/Project Message Boards/obj/
Project Message Boards/.vs/
Project Message Boards/Project Message Boards/bin/
Project Message Boards/ProjectMessageBoard.Tests/bin/
Project Message Boards/ProjectMessageBoard.Tests/obj/
Project Message Boards/packages/
